---
import {useSanityClient} from 'astro-sanity';
const blogs =  await useSanityClient().fetch('*[_type == "post"]')
import "../styles/css/skel.css";
import "../styles/css/style.css";
import "../styles/css/style-wide.css"
---
<!DOCTYPE HTML>

<html lang="eng">
	<head>
		<title>blogs</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script is:inline src="../js/jquery.min.js"></script>
		<script is:inline src="../js/jquery.dropotron.min.js"></script>
		<script is:inline src="../js/skel.min.js"></script>
		<script is:inline src="../js/skel-layers.min.js"></script>
		<script is:inline src="../js/init.js"></script>
		</head>
	<body>

			<div class="wrapper style1">

					<div id="header" class="skel-panels-fixed">
						<div id="logo">
							<h1><a href="/">Blog Sample</a></h1>
						</div>
						<nav id="nav">
							<ul>
								<li class="active"><a href="/">Homepage</a></li>
							</ul>
						</nav>
					</div>
				<!-- Extra -->
					<div id="extra">
						<div class="container">
							<div class="row no-collapse-1">
                  {blogs.map((blog) => (
                    <section class="4u"> <a href="#" class="image featured"><img src="images/pic01.jpg" alt=""></a>
                      <div class="box">
                        <p>{blog.title}</p>
                        <a href=`posts/${blog.slug.current}` class="button">Read More</a>
                      </div>
                    </section>
                    ))
                  }
							</div>
							
						</div>
					</div>

				<!-- Main -->
					<div id="main">
						<div class="container">
							<div class="row"> 
								
								<!-- Content -->
								<div class="6u">
									<section>
										<ul class="style">
											<li class="fa fa-wrench">
												<h3>Integer ultrices</h3>
												<span>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Maecenas condimentum enim tincidunt risus accumsan.</span> </li>
											<li class="fa fa-leaf">
												<h3>Aliquam luctus</h3>
												<span>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Maecenas condimentum enim tincidunt risus accumsan.</span> </li>
										</ul>
									</section>
								</div>
								<div class="6u">
									<section>
										<ul class="style">
											<li class="fa fa-cogs">
												<h3>Integer ultrices</h3>
												<span>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Maecenas condimentum enim tincidunt risus accumsan.</span> </li>
											<li class="fa fa-road">
												<h3>Aliquam luctus</h3>
												<span>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Maecenas condimentum enim tincidunt risus accumsan.</span> </li>
										</ul>
									</section>
								</div>
							</div>
						</div>
					</div>

	</div>

	<!-- Footer -->
		<div id="footer" class="wrapper style2">
			<div class="container">
				<section>
					<header class="major">
						<h2>Mauris vulputate dolor</h2>
						<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
					</header>
					<form method="post" action="#">
						<div class="row half">
							<div class="12u">
								<input class="text" type="text" name="name" id="name" placeholder="Name" />
							</div>
						</div>
						<div class="row half">
							<div class="12u">
								<input class="text" type="text" name="email" id="email" placeholder="Email" />
							</div>
						</div>
						<div class="row half">
							<div class="12u">
								<textarea name="message" id="message" placeholder="Message"></textarea>
							</div>
						</div>
						<div class="row half">
							<div class="12u">
								<ul class="actions">
									<li>
										<input type="submit" value="Send Message" class="button alt" />
									</li>
								</ul>
							</div>
						</div>
					</form>
				</section>
			</div>
		</div>

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				<div class="copyright">
					<ul class="icons">
						
						<li><a href="https://twitter.com/WilsonVitalis" class="fa fa-twitter"><span>Twitter</span></a></li>
						</ul>
				</div>
			</div>
		</div>

	</body>
</html>